@import '../../theme/globalStyles.scss';

.page-nav-container {
  flex: 1;
  display: flex;
  padding: $padding_20;
  align-items: center;
  justify-content: space-between;

  .page-nav-button {
    padding: $padding_10;
    color: var(--highlight-color);
    background-color: var(--bg-color);
    font-weight: bold;
    cursor: pointer;
    &.selected {
      border-bottom: $focus-border;
    }
  }
}
