// borders
$border: 1px solid rgba(255, 255, 255, 0.1);
$border-black: 1px solid rgba(0, 0, 0, 0.1);
$focus-border: 2px solid var(--highlight-color);
$border-radius-10: 10px;
$border-radius: 20px;

// paddings
$padding_10: 10px;
$padding_20: 20px;
