@import '../../theme/globalStyles.scss';
.quantity-counter {
  flex: 1;
  display: flex;
  border-right: $border;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  .counter-icon {
    font-size: 1.25rem;
    color: var(--highlight-color);
  }
  .quantity {
    margin: 0 20px;
  }
}
